@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-dropdown-toggle {
    @apply bg-blue-600 text-white hover:bg-blue-500  rounded-md w-full border border-blue-600 hover:border-blue-500 !important;
  }
}

.leaflet-div-icon.leaflet-editing-icon {
    width: 6px !important;   /* Riduci la larghezza */
    height: 6px !important;  /* Riduci l'altezza */
    background-color: #3388ff; /* Cambia colore se vuoi */
    border-radius: 50%;       /* Rendi i punti circolari */
    border: 1px solid #ffffff; /* Bordi per una migliore visibilità */
}

.custom-marker {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #1d4ed8;
    color: white;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out;
  }
  
  .custom-marker:hover {
    transform: scale(1.2);
  }
  
  .popup-content {
    font-family: Arial, sans-serif;
    color: #333;
  }

  .custom-popup .leaflet-popup-tip {
    display: none; /* Remove the triangular tip */
  }

  .custom-popup .leaflet-popup-content-wrapper {
    background-color: rgba(0, 123, 255, 0.9);
    border-radius: 10px;       /* Rounded corners */
    padding: 1px;             /* Add padding */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Add shadow */
    border: 1px solid rgba(0, 0, 0, 0.2);    /* Add border */
    font-size: 11px;        
    color: #ffffff;               /* White text */
  }


  .diagram-svg-fix {
    overflow-x: auto;
    overflow-y: hidden;
  }



  